<app-navbar></app-navbar>
<div class="banner" id="nav-inicio">
  <div class="wow bounceIn">
    <img class="" src="../../assets/img/Logo_integraflex.png" alt="Logo Integraflex">
    <!-- <img class="" src="../../assets/img/logoIntegraflex_1.gif" alt="Logo Integraflex"> -->
  </div>
</div>
<app-quienes id="nav-quienes-somos"></app-quienes>
<app-mvv id="nav-mvv"></app-mvv>
<app-asesoria id="nav-asesoria"></app-asesoria>
<app-productos id="nav-productos"></app-productos>
<app-ubicacion id="nav-ubicacion"></app-ubicacion>
<app-contacto id="nav-contacto"></app-contacto>
