@import url("https://fonts.googleapis.com/css?family=Roboto:500");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif");
.navbar-brand img {
  height: 6vh;
}

.navbar {
  position: fixed;
  width: 100vw;
  z-index: 5;
  background-color: #141414 !important;
}

.navbar ul li {
  vertical-align: middle;
}

.navbar ul li a {
  font-family: 'Roboto', sans-serif;
  color: #ffffff !important;
  margin: 0 2vw;
  font-size: 1.3vw;
  text-align: center;
}

.navbar-collapse {
  justify-content: space-around;
}

.navbar {
  transition-duration: 0.8s;
}

.navbar.hide {
  transform: translateY(-100%);
  transition-duration: 0.8s;
}

.banner {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-image: url("assets/img/foto1.jpg");
  background-size: cover;
}

.banner div {
  width: 60vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.quienes-somos {
  background-color: #E7DB2A;
  padding: 1%;
  background-image: url("assets/img/fondo-quienes-somos.png");
  background-size: cover;
  background-position: bottom;
}

.texto-quienes {
  padding: 5%;
  margin: 5% 17% 8% 17%;
  text-align: justify;
  background-color: #F7F7F7;
}

.mvv {
  display: flex;
  padding: 3%;
  box-sizing: border-box;
  background-image: url("assets/img/fondo-mvv.jpg");
  height: 100vh;
  font-weight: 100;
  text-align: justify;
}

.mvv div {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  padding: 5%;
}

.mvv .externo-mision h1 {
  background-color: rgba(26, 146, 197, 0.88);
  margin-bottom: 0;
  color: #fff;
}

.mvv .mision {
  background-color: rgba(26, 146, 197, 0.88);
  transform: scaleY(0.2);
  transition-duration: 1s;
  transform-origin: top;
  font-size: 1.2rem;
}

.mvv .mision h1, .mvv .mision p, .mvv .mision ul, .mvv .mision img {
  opacity: 0;
  transition-duration: 1.1s;
  color: #fff;
}

.mvv .externo-vision h1 {
  background-color: rgba(188, 44, 120, 0.88);
  margin-bottom: 0;
  color: #fff;
}

.mvv .vision {
  background-color: rgba(188, 44, 120, 0.88);
  transform: scaleY(0.1);
  transition-duration: 1s;
  transform-origin: top;
  font-size: 1.2rem;
}

.mvv .vision h1, .mvv .vision p, .mvv .vision ul, .mvv .vision img {
  opacity: 0;
  transition-duration: 1.1s;
  color: #fff;
}

.mvv .externo-valores h1 {
  background-color: rgba(231, 219, 42, 0.88);
  margin-bottom: 0;
  color: #fff;
}

.mvv .valores {
  background-color: rgba(231, 219, 42, 0.88);
  transform: scaleY(0.3);
  transition-duration: 1s;
  transform-origin: top;
  font-size: 1.2rem;
}

.mvv .valores h1, .mvv .valores p, .mvv .valores ul, .mvv .valores img {
  opacity: 0;
  transition-duration: 1.1s;
  font-size: 1rem;
  text-align: left;
}

.mvv div:hover {
  transform: scaleY(1);
  transition-duration: 1s;
  transform-origin: top;
  cursor: pointer;
}

.mvv .mision:hover p, .mvv .mision:hover h1, .mvv .mision:hover ul, .mvv .mision:hover img {
  opacity: 1;
  transition-duration: 1.1s;
}

.mvv .vision:hover p, .mvv .vision:hover h1, .mvv .vision:hover ul, .mvv .vision:hover img {
  opacity: 1;
  transition-duration: 1.1s;
}

.mvv .valores:hover p, .mvv .valores:hover h1, .mvv .valores:hover ul, .mvv .valores:hover img {
  opacity: 1;
  transition-duration: 1.1s;
}

.mvv div img {
  margin: 2% auto;
}

.mvv h1 {
  text-align: center;
  margin-bottom: 5%;
}

@media only screen and (max-width: 900px) {
  .mvv {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .mvv .mision {
    display: block;
    transform: scaleY(1);
    margin-bottom: 5vh;
  }
  .mvv .mision h1, .mvv .mision p, .mvv .mision ul, .mvv .mision img {
    opacity: 1;
  }
  .mvv .vision {
    display: block;
    transform: scaleY(1);
  }
  .mvv .vision h1, .mvv .vision p, .mvv .vision ul, .mvv .vision img {
    opacity: 1;
  }
  .mvv .valores {
    display: block;
    transform: scaleY(1);
  }
  .mvv .valores h1, .mvv .valores p, .mvv .valores ul, .mvv .valores img {
    opacity: 1;
  }
}

.asesoria {
  display: flex;
  background-color: #1A92C5;
  padding: 5% 2%;
  background-image: url("assets/img/fondo-asistencia.png");
  background-size: cover;
  background-position: bottom;
}

.lateralAsesoria {
  flex: 1 1 0;
  text-align: justify;
  min-width: 22%;
}

.cuadroAsesoria {
  display: flex;
  padding: 7% 2%;
  margin: 3%;
  box-sizing: border-box;
  background-color: #F7F7F7;
  justify-content: center;
  align-content: center;
}

.cuadroAsesoria div {
  flex: 1 1 0;
  text-align: justify;
  margin: auto 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
}

.cuadroAsesoria div img {
  align-self: center;
  margin-bottom: 10%;
}

@media only screen and (max-width: 900px) {
  .asesoria {
    display: flex;
    flex-direction: column;
  }
  .lateralAsesoria {
    background-color: #1A92C5;
    margin: 0;
  }
  .cuadroAsesoria {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    padding: 0;
  }
  .cuadroAsesoria div {
    display: block;
    height: 90vh;
    padding: auto;
    padding: 1%;
  }
  .cuadroAsesoria div img {
    display: block;
    margin: auto 18%;
  }
}

.headProductos {
  padding: 5%;
  display: flex;
  align-items: flex-end;
}

.headProductos h1 {
  font-size: 4rem;
  margin-bottom: -0.2%;
  margin-right: 3%;
  line-height: 0.8;
}

.productos {
  display: flex;
}

.productos div {
  flex: 1 1 0;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.productos div a h1 {
  font-size: 3.5rem;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7);
}

.productos div a:hover {
  text-decoration: none;
  color: #fff;
  text-shadow: 4px 4px 2px #969696;
}

.productosAzul {
  background-image: url("assets/img/planchas.jpg");
  background-size: cover;
}

.productosAzul a {
  color: #90E5FC;
}

.productosRosado {
  background-image: url("assets/img/productos2.jpg");
  background-size: cover;
}

.productosRosado a {
  color: #FF73D0;
}

.productosAmarillo {
  background-image: url("assets/img/rollos.jpg");
  background-size: cover;
}

.productosAmarillo a {
  color: #F4E131;
}

.productosNegro {
  background-image: url("assets/img/productos4.jpg");
  background-size: cover;
}

.productosNegro a {
  color: #ccc;
}

.bannerPlanchas {
  background-image: url("assets/img/banner_planchas.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5%;
  margin-top: 15vh;
}

.bannerRevelado {
  background-image: url("assets/img/banner_rollos.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5%;
}

.bannerRevelado h1 {
  color: #F4E131;
  font-size: 4rem;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.bannerPlanchas h1 {
  color: #90E5FC;
  font-size: 4rem;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.bannerEquipos {
  background-image: url("assets/img/banner_equipos.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5%;
}

.bannerEquipos h1 {
  color: #fff;
  font-size: 4rem;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.contenidoPlanchas, .contenidoRevelado {
  padding: 2% 15%;
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: center;
}

.imagotipo {
  margin: 0 auto -15%;
  display: inline-block;
  transform: scale(0.7);
}

.alMenu {
  position: absolute;
  left: 2%;
  transform: rotate(90deg) scale(0.5);
  transition-duration: 0.5s;
}

.alMenu:hover {
  transform: scale(1.1);
  transform-origin: center;
  transition-duration: 0.5s;
}

.datosPlanchas, .datosDisolventes {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 2% 15%;
  background-color: #F9F9F9;
}

table tr th {
  text-align: center;
  padding: 0 10px;
}

table.tablaDisolventes tr td:nth-child(n+2) {
  border-left: 1px solid #000000;
  padding-left: 2%;
}

table tr td:nth-child(2) {
  border-left: 1px solid #000000;
  padding-left: 2%;
}

.datosPlanchas h3, .datosDisolventes h3 {
  text-align: center;
  margin: 5% auto 2%;
}

table {
  align-self: center;
  margin: auto;
}

table tr {
  border-bottom: 1px solid #000;
}

table tr td:nth-last-child(1) {
  text-align: center;
}

table tr th:first-child {
  text-align: left !important;
}

.disolventes {
  padding: 5% 15%;
  background-color: #F9F9F9;
}

.especificaciones {
  background-color: #F9F9F9;
  position: relative;
  height: 50vh;
}

.especificaciones div {
  padding: 0.5% 5%;
  box-sizing: border-box;
  font-family: 'IBM Plex Serif', serif !important;
  color: #fff;
  display: inline-block;
  position: absolute;
}

#punto-resolucion {
  background-color: #FF73D0;
  left: 0;
  top: 0px;
}

#rango-tonal {
  background-color: #F4E131;
  right: 0;
  top: 18%;
  align-self: flex-start;
}

#amplia-gama {
  background-color: #90E5FC;
  left: 0;
  top: 36%;
  max-width: 80vw;
}

#definicion-lineas {
  background-color: #000;
  right: 0;
  top: 54%;
  max-width: 80vw;
  align-self: flex-start;
}

.bannerDisolventes {
  background-image: url("assets/img/banner_disolventes.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5%;
}

.bannerDisolventes h1 {
  color: #FF73D0;
  font-size: 4rem;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.comentarioRoboto {
  font-family: "Roboto", sans-serif;
}

.PASUno {
  display: flex;
}

.contenidoPAS {
  padding: 2%;
}

#headPAS {
  text-align: center;
  padding: 2%;
  box-sizing: border-box;
}

.tituloPAS {
  background-color: #000;
  color: #fff;
  padding: 1% 10% 1% 5%;
  margin: 0 3% 0 0;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2;
  justify-content: center;
  align-content: center;
}

.tituloPAS h2 {
  font-size: 3rem;
}

.PASDos {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 2% 7%;
  box-sizing: border-box;
}

.PASDos p {
  text-align: center;
}

.PASDos ul {
  list-style: none;
  line-height: 2;
}

.PASDos ul li img {
  height: 1.5rem;
  width: auto;
  margin: 1%;
}

.PASTres {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.izq {
  background-color: #FF73D0;
  color: white;
  padding: 1% 1% 1% 10%;
  max-width: 45vw;
  text-align: right;
}

.der {
  background-color: #90E5FC;
  color: white;
  padding: 1% 10% 1% 1%;
  max-width: 45vw;
}

.tablaEquipo {
  margin: 7% auto;
  text-align: center;
}

table.tablaEquipo tr td:nth-child(n+2) {
  border-left: 1px solid #000000;
}

@media only screen and (max-width: 900px) {
  .productos {
    display: flex;
    width: 100vw;
  }
  .productosAzul, .productosRosado, .productosAmarillo, .productosNegro {
    flex: 1 1 0;
    flex-wrap: wrap;
    min-width: 20vw;
    height: 30vw;
  }
  .productosAzul a h1, .productosRosado a h1, .productosAmarillo a h1, .productosNegro a h1 {
    font-size: 1.2rem !important;
  }
  .alMenu {
    transform: scale(0.3) rotate(90deg);
    left: -4%;
    margin-left: -5%;
  }
  #definicion-lineas {
    top: 80%;
  }
  .tablaDisolventes {
    width: 60vw;
    font-size: 0.5rem;
    margin-left: -10%;
  }
  .tablaDisolventes td {
    padding: 0;
    max-width: 18%;
  }
  .especificaciones {
    padding-bottom: 35%;
    box-sizing: content-box;
  }
  .PAS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
  }
  .PASUno {
    flex-direction: column;
    text-align: justify;
  }
  .tituloPAS {
    padding: 1%;
    margin: 0;
  }
  #headPAS {
    text-align: center;
  }
  .izq h3, .der h3 {
    font-size: 1.2rem;
  }
  app-productos table {
    font-size: 0.8rem;
  }
  .tablaDisolventes {
    margin-left: -40%;
  }
  .tablaEquipo {
    font-size: 0.5rem;
  }
}

.ubicacion {
  display: flex;
  background-color: #BC2C78;
  padding: 5% 2%;
  background-image: url("assets/img/fondo-asistencia.png");
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  color: #fff;
}

.lateralUbicacion {
  flex: 1 1 0;
  max-width: 35%;
  text-align: justify;
  min-width: 22%;
}

.mapa {
  flex: 1 1 0;
  text-align: justify;
  margin: auto 2%;
  display: flex;
  height: 70vh;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

agm-map {
  height: 100%;
}

@media only screen and (max-width: 900px) {
  .ubicacion {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .lateralUbicacion {
    max-width: 100%;
    height: 20vh;
    background-color: #BC2C78;
    padding: 2%;
  }
  .mapa {
    width: 98%;
    height: 60vh;
  }
}

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2017 Daniel Eden
 */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-delay: 1s;
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  animation-name: rubberBand;
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }
  2%, 6%, 10%, 14%, 18% {
    transform: translate3d(-10px, 0, 0);
  }
  4%, 8%, 12%, 16% {
    transform: translate3d(10px, 0, 0);
  }
  20% {
    transform: translate3d(0, 0, 0);
  }
}

.shake {
  animation-name: shake;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes headShake {
  0% {
    transform: translateX(0);
  }
  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }
  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }
  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }
  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }
  50% {
    transform: translateX(0);
  }
}

.headShake {
  animation-timing-function: ease-in-out;
  animation-name: headShake;
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  transform-origin: top center;
  animation-name: swing;
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes wobble {
  from {
    transform: none;
  }
  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  to {
    transform: none;
  }
}

.wobble {
  animation-name: wobble;
}

@keyframes jello {
  from, 11.1%, to {
    transform: none;
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    transform: skewX(0.39062deg) skewY(0.39062deg);
  }
  88.8% {
    transform: skewX(-0.19531deg) skewY(-0.19531deg);
  }
}

.jello {
  animation-name: jello;
  transform-origin: center;
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-name: bounceIn;
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transform: none;
  }
}

.bounceInDown {
  animation-name: bounceInDown;
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }
  75% {
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    transform: translate3d(5px, 0, 0);
  }
  to {
    transform: none;
  }
}

.bounceInLeft {
  animation-name: bounceInLeft;
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    transform: none;
  }
}

.bounceInRight {
  animation-name: bounceInRight;
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  animation-name: bounceInUp;
}

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.bounceOut {
  animation-name: bounceOut;
}

@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

.bounceOutDown {
  animation-name: bounceOutDown;
}

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.bounceOutLeft {
  animation-name: bounceOutLeft;
}

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

.bounceOutRight {
  animation-name: bounceOutRight;
}

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

.bounceOutUp {
  animation-name: bounceOutUp;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDownBig {
  animation-name: fadeInDownBig;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeftBig {
  animation-name: fadeInLeftBig;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRightBig {
  animation-name: fadeInRightBig;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUpBig {
  animation-name: fadeInUpBig;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  animation-name: fadeOutDown;
}

@keyframes fadeOutDownBig {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

.fadeOutDownBig {
  animation-name: fadeOutDownBig;
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  animation-name: fadeOutLeft;
}

@keyframes fadeOutLeftBig {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.fadeOutLeftBig {
  animation-name: fadeOutLeftBig;
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.fadeOutRight {
  animation-name: fadeOutRight;
}

@keyframes fadeOutRightBig {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

.fadeOutRightBig {
  animation-name: fadeOutRightBig;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  animation-name: fadeOutUp;
}

@keyframes fadeOutUpBig {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

.fadeOutUpBig {
  animation-name: fadeOutUpBig;
}

@keyframes flip {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }
  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }
  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }
  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    animation-timing-function: ease-in;
  }
  to {
    transform: perspective(400px);
    animation-timing-function: ease-in;
  }
}

.animated.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  animation-name: flip;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInX;
}

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  to {
    transform: perspective(400px);
  }
}

.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInY;
}

@keyframes flipOutX {
  from {
    transform: perspective(400px);
  }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

.flipOutX {
  animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
}

@keyframes flipOutY {
  from {
    transform: perspective(400px);
  }
  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }
  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

.flipOutY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipOutY;
}

@keyframes lightSpeedIn {
  from {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    transform: skewX(-5deg);
    opacity: 1;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out;
}

@keyframes lightSpeedOut {
  from {
    opacity: 1;
  }
  to {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

.lightSpeedOut {
  animation-name: lightSpeedOut;
  animation-timing-function: ease-in;
}

@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  to {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}

.rotateIn {
  animation-name: rotateIn;
}

@keyframes rotateInDownLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1;
  }
}

.rotateInDownLeft {
  animation-name: rotateInDownLeft;
}

@keyframes rotateInDownRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1;
  }
}

.rotateInDownRight {
  animation-name: rotateInDownRight;
}

@keyframes rotateInUpLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1;
  }
}

.rotateInUpLeft {
  animation-name: rotateInUpLeft;
}

@keyframes rotateInUpRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }
  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1;
  }
}

.rotateInUpRight {
  animation-name: rotateInUpRight;
}

@keyframes rotateOut {
  from {
    transform-origin: center;
    opacity: 1;
  }
  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0;
  }
}

.rotateOut {
  animation-name: rotateOut;
}

@keyframes rotateOutDownLeft {
  from {
    transform-origin: left bottom;
    opacity: 1;
  }
  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
}

.rotateOutDownLeft {
  animation-name: rotateOutDownLeft;
}

@keyframes rotateOutDownRight {
  from {
    transform-origin: right bottom;
    opacity: 1;
  }
  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
}

.rotateOutDownRight {
  animation-name: rotateOutDownRight;
}

@keyframes rotateOutUpLeft {
  from {
    transform-origin: left bottom;
    opacity: 1;
  }
  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
}

.rotateOutUpLeft {
  animation-name: rotateOutUpLeft;
}

@keyframes rotateOutUpRight {
  from {
    transform-origin: right bottom;
    opacity: 1;
  }
  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0;
  }
}

.rotateOutUpRight {
  animation-name: rotateOutUpRight;
}

@keyframes hinge {
  0% {
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  20%, 60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  40%, 80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

.hinge {
  animation-name: hinge;
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }
  50% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(3deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.jackInTheBox {
  animation-name: jackInTheBox;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes rollIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.rollIn {
  animation-name: rollIn;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes rollOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

.rollOut {
  animation-name: rollOut;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInDown {
  animation-name: zoomInDown;
}

@keyframes zoomInLeft {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInLeft {
  animation-name: zoomInLeft;
}

@keyframes zoomInRight {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInRight {
  animation-name: zoomInRight;
}

@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInUp {
  animation-name: zoomInUp;
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
}

@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomOutDown {
  animation-name: zoomOutDown;
}

@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
  }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    transform-origin: left center;
  }
}

.zoomOutLeft {
  animation-name: zoomOutLeft;
}

@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
  }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, 0, 0);
    transform-origin: right center;
  }
}

.zoomOutRight {
  animation-name: zoomOutRight;
}

@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomOutUp {
  animation-name: zoomOutUp;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

.slideOutDown {
  animation-name: slideOutDown;
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutLeft {
  animation-name: slideOutLeft;
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

.slideOutRight {
  animation-name: slideOutRight;
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

.slideOutUp {
  animation-name: slideOutUp;
}

.contacto {
  display: flex;
  flex-direction: row;
  background-color: #141414;
  padding: 5% 2%;
  background-image: url("assets/img/fondo-asistencia.png");
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  color: #fff;
  width: 100vw;
}

.lateralContacto {
  flex: 1 1 0;
  max-width: 35%;
  text-align: justify;
  min-width: 22%;
}

.cuadroContacto {
  text-align: center;
  margin: auto 2%;
  padding: 5%;
  display: flex;
  width: 60%;
  background-color: #F7F7F7;
  color: #141414;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.formulario {
  display: flex;
  margin: 0 30%;
  flex-direction: column;
}

.formulario div {
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
}

.formulario div input {
  align-self: flex-end;
}

.formulario div textarea {
  width: 100%;
}

.formulario .enviar {
  border-radius: 20px;
  border: none;
  margin: 2% auto;
  background-color: #141414;
  color: #fff;
  width: 5vw;
  font-family: 'bebas_neueregular', sans-serif;
}

button {
  cursor: pointer;
}

.confirmacion {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: none;
  left: 0;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgba(150, 150, 150, 0.9);
  color: #000;
  z-index: 10;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .contacto {
    flex-direction: column;
    justify-content: center;
  }
  .lateralContacto {
    height: 0;
  }
  .cuadroContacto {
    width: 90%;
    padding: 2%;
  }
  .formulario {
    margin: 0 10%;
  }
  .formulario div {
    margin: 0;
  }
  .formulario .enviar {
    width: 15vw;
  }
  .formulario div input {
    width: 70%;
  }
}

@font-face {
  font-family: 'bebas_neueregular';
  src: url("assets/fuentes/bebasneue-regular-webfont.woff2") format("woff2"), url("assets/fuentes/bebasneue-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  overflow-x: hidden;
  background-color: #F9F9F9;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6, label {
  font-family: 'bebas_neueregular', sans-serif;
}

inicio {
  width: 100vw;
}

.progreso {
  height: 4px;
  background: #0D627F;
  background-blend-mode: exclusion;
  width: 0%;
  position: fixed;
  z-index: 101;
  top: 0;
}

.final {
  background-color: #DDD;
  width: 100vw;
  height: 4vw;
  display: block;
  text-align: center;
  position: absolute;
}

#arriba {
  color: #fff;
  width: 3vw;
  bottom: 2px;
  right: 2px;
}

@media only screen and (max-width: 900px) {
  a.nav-link {
    font-size: 1.2rem !important;
  }
  .final {
    height: 9vw;
  }
  #arriba {
    height: 8vw;
  }
}
/*# sourceMappingURL=styles.css.map */