<div class="asesoria">
  <div class="lateralAsesoria wow fadeInDown">
    <h1>ASESORÍA  Y <br>ENTRENAMIENTO</h1>
    <p>
      Contamos con un excelente servicio de consultoría, asesoría, capacitación y entrenamiento que le permite optimizar el uso de los insumos que proveemos.
      INTEGRAFLEX no solo se preocupa  por comercializar los mejores productos para la industria gráfica, también queremos acompañar a nuestros clientes en la evaluación de la capacidad y el desempeño de sus máquinas y procesos en tres enfoques:
    </p>
  </div>
  <div class="cuadroAsesoria wow fadeInRight">
    <div>
      <img src="../../../assets/img/asesoria1.png" alt="Asesoría Gerencial">
      <p>
        Administrativo, con énfasis en resultados que generen valor a la organización.
      </p>
    </div>
    <div>
      <img src="../../../assets/img/asesoria2.png" alt="Asesoría de Prevención">
      <p>
        Preventivo buscando identificar tempranamente los eventos y situaciones que puedan afectar la operación y haciendo planes de acción que fortalecen el proceso y la optimización.
      </p>
    </div>
    <div>
      <img src="../../../assets/img/asesoria3.png" alt="Asesoría en estandarización">
      <p>
        Conocimiento, fortalecimiento del saber, estandarizando los procesos que aportan al conocimiento organizacional.
      </p>
    </div>
  </div>
</div>
