<div class="ubicacion">
  <div class="lateralUbicacion wow fadeInDown">
    <h1>Ubicación</h1>
    <p>
        INTEGRAFLEX está ubicada en la ciudad de Santiago de Cali, Colombia.<br>Tenemos un alcance  local en el departamento del Valle del Cauca,  Nacional en las ciudades principales e intermedias, y contamos con la posibilidad de llegar a Centroamérica y Latinoamérica.
    </p>
  </div>
    <div class="mapa">
      <agm-map [longitude]="long" [latitude]="lat" [zoom]="15">
        <agm-marker [longitude]="long" [latitude]="lat"></agm-marker>
      </agm-map>
  </div>
</div>
