<div class="contacto" >
  <div class="confirmacion" id="confirmacion">
    <h1>Tu mensaje ha sido enviado, gracias por contactarnos. En breve nos comunicaremos</h1>
  </div>
  <div class="confirmacion" id="negacion">
    <h1>Tu mensaje no pudo ser enviado, por favor intenta más tarde</h1>
  </div>
  <div class="lateralContacto wow fadeInDown">
    <h1>Contacto</h1>
    <p>
     <strong> INTEGRAFLEX S.A.S.</strong> <br>
     <strong>NIT:</strong> 900.929.311-9<br>
     <strong>DIRECCION:</strong> CRA 41 A # 16 - 26 PISO 1<br>
     <strong>TEL:</strong> (2) 4837117<br>
     <strong>CORREO:</strong> scliente@integraflex.com.co
    </p>
    <p id="verAviso">Aviso de privacidad de INTEGRAFLEX</p>
  </div>
<div class="cuadroContacto wow fadeInRight">
  <p>¿Desea asesoría? Por favor escríbanos y en poco tiempo estaremos en contacto.</p>
  <form class="formulario" id="myForm" (ngSubmit)="enviar()">
      <!-- (ngSubmit)="sendEmail(message)" -->
  <div>
    <label for="name">NOMBRE</label>
    <input type="text" name="name" id="name" [(ngModel)]="name" ng-required>
  </div>
  <div>
    <label for="country">PAÍS</label>
    <input type="text" name="country" id="country" [(ngModel)]="country" ng-required>
  </div>
  <div>
    <label for="city">CIUDAD</label>
    <input type="text" name="city" id="city" [(ngModel)]="city">
  </div>
  <div>
    <label for="company">EMPRESA</label>
    <input type="text" name="company" id="company" [(ngModel)]="company">
  </div>
  <div>
    <label for="email">MAIL</label>
    <input type="text" name="email" [(ngModel)]="email" id="email" ng-required>
  </div>
  <div>
    <label for="phone">TELÉFONO</label>
    <input type="number" name="phone" id="phone" [(ngModel)]="phone">
  </div>
  <div>
    <textarea rows="4" name="message" [(ngModel)]="message" id="message" ng-required></textarea>
  </div>
  <div class="acepto">
    <input type="checkbox" name="acepto"  required id="check">Acepto el tratamiento de mis datos por parte de INTEGRAFLEX
  </div>
  <div>
    <button type="submit" class="enviar"  id="enviar" disabled >Enviar</button>
  </div>
</form>
</div>
<div class="aviso cerrado">
  <div>
    <i class="fas fa-times" id="cerrarAviso"></i>
    <p>
      <br><br>
      INTEGRAFLEX  nit 900929311-9 en su calidad de responsable y/o encargado del tratamiento de datos de carácter personal obtenidos con anterioridad a la entrada en vigencia del Decreto 1377 de 2013, informa a clientes, usuarios, colaboradores, contratistas y/o proveedores, y en general a todas las personas que hayan facilitado o que en el futuro faciliten sus datos personales, que éstos serán incorporados en las BASES DE DATOS de propiedad de INTEGRAFLEX. <br>
INTEGRAFLEX informa que en cumplimiento de la Ley 1581 de 2012 se han adoptado las medidas de tipo legal, técnicas y organizacionales necesarias para evitar la pérdida, acceso o alteración de los datos personales a los cuales da tratamiento. De igual forma a través de estas medidas su objetivo es garantizar la seguridad e integridad de este tipo de datos durante todo el tratamiento ejercido LA EMPRESA. Los titulares de la información, a través de su consentimiento, aceptan libre, expresa y de forma inequívoca que sus datos personales sean tratados por parte de INTEGRAFLEX para realizar las siguientes finalidades establecidas: CLIENTES Y USUARIOS. Administrar la información de carácter personal de los clientes y/o usuarios presentes y futuros de los servicios ofrecidos por la empresa INTEGRAFLEX. Formalizar procesos de contratación. Gestionar procesos de pagos y cobranzas. Envío de comunicaciones comerciales y publicitarias por cualquier medio físico o electrónico (correo, SMS, MMS, fax, redes sociales, etc.) sobre productos o servicios ofrecidos la empresa INTEGRAFLEX. o sus aliados comerciales y/o estratégicos con los se pacte algún acuerdo comercial. Elaborar encuestas de satisfacción y entrevistas de opinión. <br>
Se informa a todas las personas que hayan facilitado o que en el futuro faciliten sus datos personales, que dichos tienen la finalidad de gestionar, ofrecer y promocionar los servicios y productos que actualmente o en el futuro preste INTEGRAFLEX . Las empresa garantiza el ejercicio de los derechos de acceso, rectificación y cancelación en los términos dispuestos por la legislación vigente, los cuales están descritos en nuestro POLÍTICA DE TRATAMIENTO DE DATOS PERSONALES, publicado el 1 de Julio  de 2018  
  
    </p>
  </div>
</div>
