<div class="mvv wow fadeIn">
  <div class="externo-mision">
    <h1>MISIÓN
      <br>
      <i class="fas fa-chevron-down"></i>
    </h1>
    <div class="mision">
      <!-- <h1>MISIÓN</h1> -->
      <p>
        Ofrecer servicios de ingeniería de procesos y productos de reconocimiento global a empresas del sector de empaque flexible, agregando valor a clientes, empleados, proveedores y accionistas.
      </p>
      <img src="../../assets/img/imision.png" alt="Misión">
    </div>
  </div>
  <div class="externo-vision">
    <h1>VISIÓN
      <br>
      <i class="fas fa-chevron-down"></i>
    </h1>
  <div class="vision">
      <p>
        En el 2023 INTEGRAFLEX será reconocida como el mejor proveedor para el sector de empaque flexible en Colombia, presente en cinco países de Latinoamérica con  soluciones de consultoría e ingeniería.
      </p>
      <img src="../../assets/img/ivision.png" alt="Visión">
    </div>
  </div>
  <div class="externo-valores">
    <h1>VALORES
      <br>
      <i class="fas fa-chevron-down"></i>
    </h1>
    <div class="valores">
      <ul>
        <li><p>Respeto: valoramos las personas escuchándolas y entendiéndolas </p> </li>
        <li><p>Comportamiento Ético: actuamos bajo los principios de honestidad, transparencia y
         responsabilidad.</p></li>
        <li><p>Compromiso: ponemos nuestras capacidades al servicio de los clientes para transformar una promesa en una realidad</p> </li>
      </ul>
      <img src="../../assets/img/ivalores.png" alt="Valores">
    </div>
  </div>
</div>
