<div class="headProductos wow fadeIn">
  <h1>NUESTROS<br>PRODUCTOS</h1>
  <img src="../../assets/img/colores.png" alt="Nuestros Productos">
</div>
<div class="productos wow zoomIn">
  <div class="productosAzul">
    <a href="#nav-planchas"><h1>PLANCHAS DIGITALES Y ANALÓGICAS</h1></a>
  </div>
  <div class="productosRosado">
    <a href="#nav-disolventes"><h1>SOLUCIONES DE REVELADO</h1></a>
  </div>
  <br *ngIf="mobile">
  <div class="productosAmarillo">
    <a href="#nav-revelado"><h1>ROLLOS DE REVELADO</h1></a>
  </div>
  <div class="productosNegro">
    <a href="#nav-equipos"><h1>EQUIPOS</h1></a>
  </div>
</div>
<div class="planchas" id="planchas">
  <div class="bannerPlanchas wow fadeInLeft" id="nav-planchas">
    <h1>PLANCHAS PARA FLEXOGRAFÍA</h1>
  </div>
  <div class="contenidoPlanchas wow fadeIn">
    <a href="#nav-productos"><img src="../../assets/img/alMenu.png" alt="" class="alMenu"></a>
    <p>
      INTEGRAFLEX puede suministrar las planchas flexográficas que DuPont™ Cyrel®, caracterizadas por una eficacia y consistencia que permiten lograr una mayor calidad de impresión con altas velocidades, logrando una amplia variedad de aplicaciones en impresión de empaques.
      <br>
      Existe una amplia selección de planchas y mangas flexográficas Cyrel® para los flujos de trabajo térmicos y con solventes, INTEGRAFLEX esta en la capacidad de configurar la mejor solución para sus  necesidades específicas de flujo de trabajo e impresión.

    </p>
    <br><br>
    <div class="separacion" id="rosa"></div>
    <h3 class="text-center">Flujo de trabajo de producción de planchas Cyrel® FAST</h3>
    <p>
      Las planchas flexográficas Cyrel® FAST se han diseñado para el aumento la productividad, un rendimiento en la prensa excepcional y la reducción del impacto en el medio ambiente.
      <br>
      La  introducción del flujo de trabajo térmico de producción de planchas Cyrel® FAST ha permitido el acceso rápido a la producción de planchas en el sector del embalaje, donde cada minuto cuenta. La eliminación de solventes o la necesidad de un paso de secado ha permitido reducir el tiempo de procesamiento de las planchas flexográficas a tan solo media hora.
    </p>

    <h4 class="text-center">Hojas de datos de PLANCHAS CYREL® FAST (TÉRMICAS)</h4>
    <table>
      <tr>
        <th align="left">NOMBRE DE LA PLANCHA</th>
        <th>TIPO</th>
        <th >HOJAS DE DATOS</th>
      </tr>
      <tr>
        <td><strong>Cyrel® FAST EASY EFE</strong></td>
        <td>DIGITAL – Superficie Modificada, Alta Dureza</td>
        <td><a target="_blank" href="http://www.dupont.mx/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/PDS-LA0062-ES_Cyrel_EASY_EFE-i.pdf"><strong>DESCARGAR</strong></a></td>
      </tr>
      <tr>
        <td><strong>Cyrel® FAST EASY EFX</strong></td>
        <td>DIGITAL – Superficie Lisa, Ata Dureza</td>
        <td><a target="_blank" href="http://www.dupont.mx/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/PDS-LA0059-ES_Cyrel_EASY_EFX-i.pdf"><strong>DESCARGAR</strong></a></td>
      </tr>
      <tr>
        <td><strong>Cyrel® FAST DFR</strong></td>
        <td>DIGITAL - alta dureza</td>
        <td><a target="_blank" href="http://www.dupont.mx/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/Cyrel_FAST_DFR_MX.pdf"><strong>DESCARGAR</strong></a></td>
      </tr>
      <tr>
        <td><strong>Cyrel® FAST DFM</strong></td>
        <td>DIGITAL - media dureza</td>
        <td><a target="_blank" href="http://www.dupont.mx/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/DP_Cyrel_DS_DFM_esla.pdf"><strong>DESCARGAR</strong></a></td>
      </tr>
    </table>
    <div class="separacion"></div>
    <br><br>
    <H3 class="text-center">Flujo de trabajo de producción de planchas Cyrel® a BASE DE SOLVENTES</H3>
    <p>
      Las planchas flexográficas procesables con solventes Cyrel® se han diseñado para ofrecer un equilibrio óptimo entre la calidad, productividad y  velocidad. <br>
      En el caso de los impresores y convertidores que siguen prefiriendo un flujo de trabajo de producción de planchas con solventes, ofrecemos una amplia variedad de planchas.
    </p>
    <h4 class="text-center">HOJAS DE DATOS DE PLANCHAS CYREL® (A BASE DE SOLVENTES)</h4>
    <table>
      <tr>
        <th>NOMBRE DE LA PLANCHA</th>
        <th>TIPO</th>
        <th>HOJAS DE DATOS</th>
      </tr>
      <tr>
        <td><strong>Cyrel® EASY ESP</strong></td>
        <td>DIGITAL – Superficie Modificada, Alta Dureza</td>
        <td><a href="../../assets/PDF/PDS-LA0060-ES_Cyrel_EASY_ESP-i.pdf" target="_blank"><strong>DESCARGAR</strong></a></td>
      </tr>
      <tr>
        <td><strong>Cyrel® EASY EPR</strong></td>
        <td>DIGITAL – Superficie Lisa, Ata Dureza</td>
        <td><a href="../../assets/PDF/PDS-LA0057-ES_Cyrel_EASY_EPR-i.pdf" target="_blank"><strong>DESCARGAR</strong></a></td>
      </tr>
      <tr>
        <td><strong>Cyrel®  DPR</strong></td>
        <td>DIGITAL - media dureza</td>
        <td><a href="../../assets/PDF/DP_Cyrel_DS_DPR_esla.pdf" target="_blank"><strong>DESCARGAR</strong></a></td>
      </tr>
      <tr>
        <td><strong>Cyrel®  DPC</strong></td>
        <td>DIGITAL - baja dureza</td>
        <td><a href="../../assets/PDF/DP_Cyrel_DS_DPC_esla.pdf" target="_blank"><strong>DESCARGAR</strong></a></td>
      </tr>
      <tr>
        <td><strong>Cyrel®  NOWS</strong></td>
        <td>ANALÓGICO - media dureza</td>
        <td><a href="../../assets/PDF/DP_Cyrel_DS_NOW_esla.pdf" target="_blank"><strong>DESCARGAR</strong></a></td>
      </tr>
      <tr>
        <td><strong>Cyrel® DRC</strong></td>
        <td>ANALÓGICO - baja dureza</td>
        <td><a href="../../assets/PDF/DP_Cyrel_DS_DRC_esla.pdf" target="_blank"><strong>DESCARGAR</strong></a></td>
      </tr>
    </table>
    
    <br><br>
    <a href="#nav-productos"><img src="../../assets/img/alMenu.png" alt="" class="alMenu"></a>
  </div>
</div>
  <div class="bannerDisolventes wow fadeInLeft" id="nav-disolventes">
    <h1>SOLUCIONES DE REVELADO</h1>
  </div>
<div class="disolventes wow fadeIn">
  <div class="contenidoDisolventes wow fadeIn">
    <a href="#nav-productos"><img src="../../assets/img/alMenu.png" alt="" class="alMenu"></a>
    <p class="text-justify">
      Cyrel® Cylosol funciona a un temperamento más bajo  que otros soluciones de revelado y puede ser utilizado en cualquier  procesador  de planchas flexográficas con un ajuste de lavado mínimo, es el último desarrollo en este proceso. <br><br>
      El Cyrel® Cylosol se puede recuperar de manera eficiente en equipos para reciclar solvente sin la necesidad de rebalancearlo después de la destilación, adicionalmente una de sus principales ventajas son el bajo olor, limpio aroma durante el procesamiento y secado, así como el ahorro de energía debido a un funcionamiento más bajo temperatura.

<br> <br>
      <a href="../../assets/PDF/Solvente-ecologico-Cyrel-Cylosol.pdf" target="_blank"><strong>Ficha técnica Cyrel® Cylosol</strong></a>

    </p>
  </div>
</div>

<div class="bannerRevelado wow fadeInLeft" id="nav-revelado">
  <h1>ROLLOS DE REVELADO</h1>
</div>
<div class="revelado wow fadeIn">
  <div class="contenidoRevelado">
    <a href="#nav-productos"><img src="../../assets/img/alMenu.png" alt="" class="alMenu"></a>
    <p>
      Los rollos de revelado son un material utilizado en el procesamiento térmico de placas DuPont Cyrel® FAST, este consiste en un rollo de material no tejido que recibe el material no polimerizado de las planchas DuPont Cyrel® FAST durante el proceso de revelado.
    </p>
</div>

<div class="bannerEquipos wow fadeInLeft" id="nav-equipos">
  <h1>EQUIPOS</h1>
</div>
<div class="revelado wow fadeIn">
  <div class="contenidoRevelado">
    <p>
      El flujo de trabajo con disolventes de DuPont™ Cyrel® consta de camisas y planchas flexográficas de fotopolímeros, así como equipos de producción de planchas y soluciones de procesado. Todo ello se ha diseñado y es mejorado constantemente, para lograr el equilibrio perfecto entre calidad, productividad y velocidad. <br>Para quienes trabajen en un entorno de procesos con disolventes, DuPont Packaging Graphics ofrece el flujo de trabajo con disolventes de Cyrel®, que es actualmente la línea de equipos de procesamiento más avanzada y la gama más amplia de planchas del sector.

    </p>
    <div class="datosDisolventes wow fadeIn">
      <a href="#nav-productos"><img src="../../assets/img/alMenu.png" alt="" class="alMenu"></a>
      <h3><strong>HOJAS DE DATOS DE EQUIPOS DE DISOLVENTES CYREL®</strong></h3>
      <table class="tablaDisolventes wow fadeIn">
        <tr>
          <th></th>
          <th>Exposición estándar</th>
          <th>Exposición de puntos planos</th>
          <th>Procesador</th>
          <th>Secador</th>
          <th>Acabado por Luz</th>
        </tr>
        <tr>
          <td><strong>Formato pequeño 35"x47"</strong></td>
          <td><a target="_blank" href="http://www.dupont.es/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-EU0002-ES_Cyrel_1000_ECLF-i.pdf">
            1000 ECLF
          </a> <br>
          <a target="_blank" href="http://www.dupont.es/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-EU0005-ES_Cyrel_1000_ECDLF-i.pdf">
            1000 ECDLF
          </a></td>
          <td><a target="_blank" href="http://www.dupont.es/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-EU0035-ES_Cyrel_DigiFlow_1000_ECLF-i.pdf">
            DigiFlow 1000 ECLF
          </a>
          </td>
          <td>
            <a target="_blank" href="http://www.dupont.es/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-EU0006-ES_Cyrel_1000_P-i.pdf">
              1000 P
            </a>
          </td>
          <td>
            <a target="_blank" href="http://www.dupont.es/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-EU0007-ES_Cyrel_1000_D-i.pdf">
              1000 D
            </a>
          </td>
          <td>
            <a target="_blank" href="http://www.dupont.es/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-EU0005-ES_Cyrel_1000_ECDLF-i.pdf">
              1000 ECDLF
            </a>
          </td>
        </tr>
        <tr>
          <td><strong>Formato mediano 42"x60"</strong></td>
          <td>
            <a target="_blank" href="http://www.dupont.es/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-EU0010-ES_Cyrel_2000_ECLF-i.pdf">
              2000 ECLF
            </a>
          </td>
          <td>
            <a target="_blank" href="http://www.dupont.es/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-EU0034-ES_Cyrel_DigiFlow_2000_EC-i.pdf">
              DigiFlow 2000 EC
            </a>
           <br>
           <a target="_blank" href="http://www.dupont.es/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-EU0036-ES_Cyrel_DigiFlow_2000_ECLF-i.pdf">
             DigiFlow 2000 ECLF
           </a>
         </td>
          <td>
            <a target="_blank" href="http://www.dupont.es/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-EU0032-ES_Cyrel_2000_PS-i.pdf">
              2000 PS
            </a>
          </td>
          <td>
            <a target="_blank" href="http://www.dupont.es/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-EU0009-ES_Cyrel_2000_D-i.pdf">
              2000 D
            </a>
          </td>
          <td>
            <a href="http://www.dupont.es/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-EU0012-ES_Cyrel_2000_LF-i.pdf">
              2000 LF
            </a>
          </td>
        </tr>
        <tr>
          <td><strong>Formato grande 50"x80"</strong></td>
          <td>
            <a href="../../assets/PDF/EDS-NA0024-EN_Cyrel_3000_ETL-i-i.pdf">
              3000 ETL-i
            </a>
          </td>
          <td>
            <a target="_blank" href="http://www.dupont.es/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-EU0013-ES_Cyrel_DigiFlow_3000_ETL-i.pdf">
              DigiFlow 3000 ETL
            </a>
          </td>
          <td>
            <a target="_blank" href="http://www.dupont.es/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-EU0030-ES_Cyrel_3000_PS-i.pdf">
              3000 PS
            </a>
          </td>
          <td>
            <a target="_blank" href="http://www.dupont.es/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-EU0014-ES_Cyrel_3000_D-i.pdf">
              3000 D
            </a>
          </td>
          <td>
            <a target="_blank" href="http://www.dupont.es/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-EU0016-ES_Cyrel_3000_LF-i.pdf">
              3000 LF
            </a>
          </td>
        </tr>
      </table>
      <div class="separacion"></div>
    </div>
    <h3 class="comentarioRoboto text-center">Cyrel® ofrece diversas soluciones, para quienes prefieran un flujo de trabajo con disolventes que se ajustan a sus necesidades de productividad y calidad</h3>
  </div>
  <div class="especificaciones">
    <div class="wow bounceIn" id="punto-resolucion"><h3>Punto de alta resolución</h3></div>
    <div class="wow bounceIn" id="rango-tonal"><h3>Amplio rango tonal</h3></div>
    <div class="wow bounceIn" id="amplia-gama"><h3>Diseñado para adaptarse a una amplia gama de sustratos y tintas</h3></div>
    <div class="wow bounceIn" id="definicion-lineas"><h3>Excelente definición de líneas</h3></div>
  </div>
  <h2 class="comentarioRoboto" id="headPAS"><strong>Flujo de trabajo térmico de Cyrel® FAST</strong></h2>
  <div class="PAS">
    <div class="PASUno ">
      <div class="tituloPAS wow fadeInLeft">
        <h2>PRODUCTIVIDAD AHORRO Y SOSTENIBILIDAD</h2>
      </div>
      <div class="contenidoPAS wow fadeInDown">
        <p>
          Esta es una tecnología de procesamiento de placas innovadora y altamente productiva que utiliza procesamiento térmico sin solventes para producir una placa terminada lista para prensar en una hora o menos.<br><br>
          El flujo de trabajo térmico Cyrel® FAST es un sistema completo de producción de placas respaldado por equipos complementarios Cyrel®. Es la solución de flujo de trabajo ideal para una variedad de aplicaciones de impresión, lo que permite un procesamiento muy rápido, ahorro de costos, sostenibilidad y un mejor rendimiento de la prensa.
        </p>
      </div>
    </div>
    <div class="PASDos wow fadeIn">
      <p><strong>El flujo de trabajo térmico Cyrel® FAST es la solución completa de hardware y consumibles que permite:</strong></p>
      <ul>
        <li><img src="../../assets/img/rosa.png">Control mejorado del proceso, calidad del producto y consistencia</li>
        <li><img src="../../assets/img/amarillo.png">Hasta un 75% de reducción en el tiempo total de producción de placas</li>
        <li><img src="../../assets/img/azul.png">Ahorro de costes. El flujo de trabajo térmico Cyrel® FAST ahorra tiempo, dinero y materiales en operaciones y mantenimiento, reciclaje de solventes y limpieza de prensas a través de:</li>
      </ul>
    </div>
    <div class="PASTres">
      <div class="izq wow fadeInLeft">
        <h3>
          Reducción en el consumo de placas hasta en un 15% en comparación con la fabricación de planchas convencional
        </h3>
      </div>
      <div class="der wow fadeInRight">
        <h3>
          Reducción de los costos de tratamiento y eliminación de residuos debido al uso de un proceso libre de solventes
        </h3>
      </div>
    </div>
    <h1 class="comentarioRoboto text-center wow fadeInDown">Equipo térmico Cyrel® FAST Hojas de datos</h1>
    <table class="tablaEquipo wow fadeInDown">
      <tr>
        <th></th>
        <th>Exposición Estándar</th>
        <th>Exposición de Puntos Planos</th>
        <th>Procesador</th>
        <th>Secador</th>
      </tr>
      <tr>
        <td><strong>Formato pequeño 35 x 47"</strong></td>
        <td><a target="_blank" href="../../assets/PDF/">1000 ECLF</a> <br>
        </td>
        <td>
          <a target="_blank" href="http://www.dupont.com.au/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-AP0035-EN_Cyrel_DigiFlow_1000_ECLF-i.pdf">
            DigiFlow 1000 ECLF
          </a>
        </td>
        <td>
          <a href="http://www.dupont.com.au/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-AP0001-EN_Cyrel_FAST_1000_TD-i.pdf">
            1000 TD
          </a>
        </td>
        <td>N/A</td>
      </tr>
      <tr>
        <td><strong>Formato mediano 42 x 60"</strong></td>
        <td>
          <a href="http://www.dupont.com.au/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-AP0010-EN_Cyrel_2000_ECLF-i.pdf">
            2000 ECLF
          </a>
        </td>
        <td>
          <a target="_blank" href="http://www.dupont.com.au/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-AP0034-EN_Cyrel_DigiFlow_2000_EC-i.pdf">
            DigiFlow 2000 EC
          </a>
        </td>
        <td>
          <a target="_blank" href="http://www.dupont.com.au/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-AP0053-EN_Cyrel_FAST_2000TD-i.pdf">
            2000 TD
          </a>
          <br>
          <a target="_blank" href="http://www.dupont.com.au/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-AP0003-EN_Cyrel_FAST_4260_TD-i.pdf">
            4260 TD
          </a>
        </td>
        <td>N/A</td>
      </tr>
      <tr>
        <td><strong>Formato grande 50 x 80"</strong></td>
        <td>
          <a target="_blank" href="http://www.dupont.com.au/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-AP0017-EN_Cyrel_3000_EC-i.pdf">
            3000 EC
          </a>
          <br>
          <a target="_blank" href="http://www.dupont.com.au/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-AP0024-EN_Cyrel_3000_ETL-i-i.pdf">
            3000 ETL-i
          </a>
        </td>
        <td>
          <a target="_blank" href="http://www.dupont.com.au/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-AP0013-EN_Cyrel_DigiFlow_3000_ETL-i.pdf">
            DigiFlow 3000 ETL
          </a>
        </td>
        <td>
          <a href="http://www.dupont.com.au/content/dam/dupont/products-and-services/printing-and-package-printing/flexographic-platemaking-systems/documents/EDS-AP0033-EN_Cyrel_FAST_3000_TD-i.pdf">
            3000 TD
          </a>
        </td>
        <td>N/A</td>
      </tr>
    </table>
  </div>
</div>
</div>
