<div class="quienes-somos">
  <img src="../../../assets/img/colores.png" alt="">
  <div class="texto-quienes wow fadeIn">
    <p class="wow fadeIn">
      INTEGRAFLEX  es una empresa colombiana  fundada  en el 2016 en la ciudad de Cali.
  Nace de la necesidad de ofrecer desde un punto geográfico estratégico insumos para la industria gráfica complementados con  sistemas de integración que llevan al correcto funcionamiento de los insumos para el sector flexográfico.
    </p>
    <p class="wow fadeIn">
      En Colombia INTEGRAFLEX, es  distribuidor oficial de DuPont™ Cyrel poniendo a disposición de la industria insumos  como planchas, rollos de revelado y soluciones con una promesa de entrega oportuna para clientes locales y nacionales.
    </p>
    <p class="wow fadeIn">
      INTEGRAFLEX va más  allá de la venta de insumos, ofrece acceso a servicios de ingeniería de procesos  como valor agregado a sus clientes con el objetivo de optimizar el uso de los insumos que distribuye. Adicionalmente cuenta con espacios para el entrenamiento de clientes. 
    </p>
  </div>
</div>
