<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#nav-inicio">
    <img src="../../../assets/img/logo.png" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#nav-quienes-somos">¿QUIÉNES SOMOS?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#nav-mvv">MISIÓN Y VISIÓN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#nav-asesoria">ASESORÍA Y ENTRENAMIENTO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#nav-productos">PRODUCTOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#nav-ubicacion">UBICACIÓN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#nav-contacto">CONTACTO</a>
      </li>
    </ul>
  </div>
</nav>
<div class="progreso" id="myBar"></div>
