.asesoria
  display: flex
  background-color: #1A92C5
  padding: 5% 2%
  background-image: url("assets/img/fondo-asistencia.png")
  background-size: cover
  background-position: bottom
.lateralAsesoria
  flex: 1 1 0
  text-align: justify
  min-width: 22%
.cuadroAsesoria
  display: flex
  padding: 7% 2%
  margin: 3%
  box-sizing: border-box
  background-color: #F7F7F7
  justify-content: center
  align-content: center
.cuadroAsesoria div
  flex: 1 1 0
  text-align: justify
  margin: 0 2%
  display: flex
  flex-direction: column
  justify-content: center
  align-content: space-between
  align-items: center
  box-sizing: border-box
.cuadroAsesoria div img
  // margin-bottom: 10%
  margin: auto
  height: 50%
  box-sizing: border-box
.cuadroAsesoria div p
  height: 50%
  vertical-align: middle
  padding-top: 2rem
@media only screen and (max-width: 900px)
  .asesoria
    display: flex
    flex-direction: column
  .lateralAsesoria
    background-color: #1A92C5
    margin: 0
  .cuadroAsesoria
    display: flex
    flex-direction: column
    box-sizing: content-box
    padding: 0
  .cuadroAsesoria div
    display: block
    height: 90vh
    padding: auto
    padding: 1%
  .cuadroAsesoria div img
    display: block
    margin: auto
    height: 30%
  .cuadroAsesoria div p
    height: auto