.aviso.cerrado
    display: none
.aviso
    display: block
    text-align: justify
    position: fixed
    height: 100vh
    width: 100vw
    background-color: rgba(0,0,0,0.8)
    z-index: 90
    top: 0
    left: 0
    padding: 2%
.aviso div
    background-color: #ffffff
    border-radius: 5px
    color: #000000
    padding: 2% 5%
    overflow-y: auto
#verAviso, #cerrarAviso    
    cursor: pointer
#verAviso
    text-decoration: underline
#cerrarAviso
    float: right
#cerrarAviso:hover
    transform: scale(1.2)
@media only screen and (max-width: 900px)
    #verAviso
        // margin-bottom: 5rem