.contacto
  display: flex
  flex-direction: row
  background-color: #141414
  padding: 5% 2%
  background-image: url("assets/img/fondo-asistencia.png")
  background-size: cover
  background-position: bottom
  height: 100vh
  color: #fff
  width: 100vw
.lateralContacto
  flex: 1 1 0
  max-width: 35%
  text-align: justify
  min-width: 22%
.cuadroContacto
  text-align: center
  margin: auto 2%
  padding: 5%
  display: flex
  width: 60%
  background-color: #F7F7F7
  color: #141414
  justify-content: center
  flex-direction: column
  justify-content: center
  align-content: center
.formulario
  display: flex
  margin: 0 30%
  flex-direction: column
.formulario div
  display: flex
  margin: 5px 0
  justify-content: space-between
.formulario div input
  align-self: flex-end
.formulario div textarea
  width: 100%
.formulario .enviar
  border-radius: 20px
  border: none
  margin: 2% auto
  background-color: #141414
  color: #fff
  width: 5vw
  font-family: 'bebas_neueregular', sans-serif
button
  cursor: pointer
.confirmacion
  height: 100vh
  width: 100vw
  position: absolute
  display: none
  left: 0
  justify-content: center
  align-content: center
  align-items: center
  background-color: rgba(150,150,150,0.9)
  color: #000
  z-index: 10
  cursor: pointer
.acepto
  text-align: left
  display: flex
  justify-content: space-around
  align-items: center
  align-content: center
  font-size: 0.8rem
.acepto input
  line-height: 2
  vertical-align: top
.reset
  visibility: hidden  

@media only screen and (max-width: 900px)
  .contacto
    flex-direction: column
    justify-content: center
  .lateralContacto
    // height: 0
  #verAviso
    width: 90vw
  .cuadroContacto
    width: 90%
    padding: 2%
    // margin:  0 auto
  .formulario
    margin: 0 10%
  .formulario div
    margin: 0
  .formulario .enviar
    width: 15vw
  .formulario div input
    width: 70%
  .contacto
    height: auto
  .cuadroContacto
    box-sizing: border-box
    margin: auto
  .cuadroContacto p 
    max-width: 75vw
    text-align: center
  .aviso div
    overflow-y: scroll
    padding: 2%
  .lateralContacto
    max-width: auto