html, body
  width: 100vw
  overflow-x: hidden
.navbar
  transition-duration: 0.8s
.navbar.hide
  transform: translateY(-100%)
  transition-duration: 0.8s
.banner
  height: 100vh
  width: 100vw
  display: flex
  justify-content: center
  align-content: center
  align-items: center
  background-image: url("assets/img/foto1.jpg")
  background-size: cover
.banner div
  width: 90vw
  height: auto
  display: flex
  justify-content: center
  align-items: center
  align-content: center
.quienes-somos
  background-color: #E7DB2A
  padding: 1%
  background-image: url("assets/img/fondo-quienes-somos.png")
  background-size: cover
  background-position: bottom
.texto-quienes
  padding: 5%
  margin: 5% 17% 8% 17%
  text-align: justify
  background-color: #F7F7F7
.mvv div h1 .fas
  color: #ffffff
  font-size: 1rem
.mvv
  display: flex
  padding: 3%
  box-sizing: border-box
  background-image: url("assets/img/fondo-mvv.jpg")
  height: 100vh
  font-weight: 100
  text-align: center 
.mvv div
  display: flex
  flex-direction: column
  flex: 1 1 0
  padding: 5%
.mvv .externo-mision h1
  background-color: rgba(26,146,197,0.88)
  margin-bottom: 0
  color: #fff
.mvv .mision
  background-color: rgba(26,146,197,0.88)
  transform: scaleY(0.1)
  transition-duration: 1s
  transform-origin: top
  font-size: 1.2rem
.mvv .mision h1, .mvv .mision p, .mvv .mision ul, .mvv .mision img
  opacity: 0
  transition-duration: 1.1s
  color: #fff
.mvv .externo-vision h1
  background-color: rgba(188,44,120,0.88)
  margin-bottom: 0
  color: #fff
.mvv .vision
  background-color: rgba(188,44,120,0.88)
  transform: scaleY(0.1)
  transition-duration: 1s
  transform-origin: top
  font-size: 1.2rem
.mvv .vision h1, .mvv .vision p, .mvv .vision ul, .mvv .vision img
  opacity: 0
  transition-duration: 1.1s
  color: #fff
.mvv .externo-valores h1
  background-color: rgba(231,219,42,0.88)
  margin-bottom: 0
  color: #fff
.mvv .valores img 
  height: 20%
.mvv .valores
  background-color: rgba(231,219,42,0.88)
  transform: scaleY(0.1)
  transition-duration: 1s
  transform-origin: top
.mvv .valores h1, .mvv .valores p, .mvv .valores ul, .mvv .valores img
  opacity: 0
  transition-duration: 1.1s
  font-size: 1rem
  text-align: left
.mvv div:hover
  transform: scaleY(1)
  transition-duration: 1s
  transform-origin: top
  cursor: pointer
.mvv .mision:hover p,.mvv .mision:hover h1,.mvv .mision:hover ul,.mvv .mision:hover img
  opacity: 1
  transition-duration: 1.1s
.mvv .vision:hover p,.mvv .vision:hover h1,.mvv .vision:hover ul,.mvv .vision:hover img
  opacity: 1
  transition-duration: 1.1s
.mvv .valores:hover p,.mvv .valores:hover h1,.mvv .valores:hover ul,.mvv .valores:hover img
  opacity: 1
  transition-duration: 1.1s
.mvv div img
  margin: 2% auto
  height: 30%
.mvv h1
  text-align: center
  margin-bottom: 5%
.mvv ul, .mvv p 
  font-size: 1rem
  font-weight: 400
  line-height: 1.3
.mvv ul li
  line-height: 1.3
@media only screen and (max-width: 900px)
  .mvv
    display: flex
    flex-direction: column
    position: relative
    align-items: space-around
    height: 300vh
  .mvv .mision
    transform: scaleY(1)
    display: block
  .mvv .mision h1, .mvv .mision p, .mvv .mision ul, .mvv .mision img
    opacity: 1
  .mvv .vision
    transform: scaleY(1)
    display: block
  .mvv .vision h1, .mvv .vision p, .mvv .vision ul, .mvv .vision img
    opacity: 1
  .mvv .valores
    transform: scaleY(1)
    display: block
  .mvv .valores h1, .mvv .valores p, .mvv .valores ul, .mvv .valores img
    opacity: 1
  .externo-mision
    display: flex
    margin-bottom: 10vh
  .externo-vision
    display: flex
    margin-bottom: 10vh
  .externo-valores
    display: flex
    margin-bottom: 10vh
  #nav-inicio div img
    max-width: 100%