@import url('https://fonts.googleapis.com/css?family=Roboto:500')
.navbar-brand img
  height: 6vh
.navbar
  position: fixed
  width: 100vw
  z-index: 5
  background-color: #141414 !important
.navbar ul li
  vertical-align: middle
.navbar ul li a
  font-family: 'Roboto', sans-serif
  color: #ffffff !important
  margin: 0 2vw
  font-size: 1.3vw
  text-align: center

.navbar-collapse
  justify-content: space-around
