@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif')
$azul: #90E5FC
$rosado: #FF73D0
$amarillo: #F4E131
$gris: #F9F9F9
.headProductos
  padding: 5%
  display: flex
  align-items: flex-end
.headProductos h1
  font-size: 4rem
  margin-bottom: -0.2%
  margin-right: 3%
  line-height: 0.8
.productos
  display: flex
.productos div
  flex: 1 1 0
  padding: 5%
  display: flex
  justify-content: center
  align-content: center
  align-items: center
.productos div a h1
  font-size: 3.5rem
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7)
.productos div a:hover
  text-decoration: none
  color: #fff
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1)
.productosAzul
  background-image: url("assets/img/planchas.jpg")
  background-size: cover
.productosAzul a
  color: $azul
.productosRosado
  background-image: url("assets/img/productos2.jpg")
  background-size: cover
.productosRosado a
  color: $rosado
.productosAmarillo
  background-image: url("assets/img/rollos.jpg")
  background-size: cover
.productosAmarillo a
  color: $amarillo
.productosNegro
  background-image: url("assets/img/productos4.jpg")
  background-size: cover
.productosNegro a
  color: #ccc
.bannerPlanchas
  background-image: url("assets/img/banner_planchas.jpg")
  background-size: cover
  display: flex
  justify-content: center
  align-content: center
  padding: 5%
  margin-top: 15vh
.bannerRevelado
  background-image: url("assets/img/banner_rollos.jpg")
  background-size: cover
  display: flex
  justify-content: center
  align-content: center
  padding: 5%
.bannerRevelado h1
  color: $amarillo
  font-size: 4rem
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7)
  text-align: center
.bannerPlanchas h1
  color: $azul
  font-size: 4rem
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7)
  text-align: center
.bannerEquipos
  background-image: url("assets/img/banner_equipos.jpg")
  background-size: cover
  display: flex
  justify-content: center
  align-content: center
  padding: 5%
.bannerEquipos h1
  color: #fff
  font-size: 4rem
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7)
  text-align: center
.contenidoPlanchas, .contenidoRevelado
  padding: 2% 15%
  background-color: $gris
  display: flex
  flex-direction: column
  text-align: justify
  justify-content: center
.imagotipo
  margin: 0 auto -15%
  display: inline-block
  transform: scale(0.7)

.alMenu
  position: absolute
  left: 2%
  transform: rotate(90deg) scale(0.5)
  transition-duration: 0.5s
.alMenu:hover
  transform: scale(1.1)
  transform-origin: center
  transition-duration: 0.5s
.datosPlanchas, .datosDisolventes
  display: flex
  justify-content: center
  align-content: center
  flex-direction: column
  padding: 2% 15%
  background-color: $gris
table tr th
  text-align: center
  padding: 0 10px
table.tablaDisolventes tr td:nth-child(n+2)
  border-left: 1px solid #000000
  padding-left: 2%
table tr td:nth-child(2)
  border-left: 1px solid #000000
  padding-left: 2%
.datosPlanchas h3, .datosDisolventes h3
  text-align: center
  margin: 5% auto 2%
table
  align-self: center
  margin: auto
table tr
  border-bottom: 1px solid #000
table tr td:nth-last-child(1)
  text-align: center
table tr th:first-child
  text-align: left !important
.disolventes
  padding: 5% 15%
  background-color: $gris
.especificaciones
  background-color: $gris
  position: relative
  height: 50vh
.especificaciones div
  padding: 0.5% 5%
  box-sizing: border-box
  font-family: 'IBM Plex Serif', serif !important
  color: #fff
  display: inline-block
  position: absolute
#punto-resolucion
  background-color: $rosado
  left: 0
  top: 0px
#rango-tonal
  background-color: $amarillo
  right: 0
  top: 18%
  align-self: flex-start
#amplia-gama
  background-color: $azul
  left: 0
  top: 36%
  max-width: 80vw
#definicion-lineas
  background-color: #000
  right: 0
  top: 54%
  max-width: 80vw
  align-self: flex-start
.bannerDisolventes
  background-image: url("assets/img/banner_disolventes.jpg")
  background-size: cover
  display: flex
  justify-content: center
  align-content: center
  padding: 5%
.bannerDisolventes h1
  color: $rosado
  font-size: 4rem
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7)
  text-align: center
.comentarioRoboto
  font-family: "Roboto", sans-serif
.PASUno
  display: flex
.contenidoPAS
  padding: 2%
#headPAS
  text-align: center
  padding: 2%
  box-sizing: border-box
.tituloPAS
  background-color: #000
  color: #fff
  padding: 1% 10% 1% 5%
  margin: 0 3% 0 0
  font-family: "Roboto", sans-serif
  letter-spacing: 2
  justify-content: center
  align-content: center
.tituloPAS h2
  font-size: 3rem
.PASDos
  display: flex
  flex-direction: column
  align-content: center
  justify-content: center
  padding: 2% 7%
  box-sizing: border-box
.PASDos p
  text-align: center
.PASDos ul
  list-style: none
  line-height: 2
.PASDos ul li img
  height: 1.5rem
  width: auto
  margin: 1%
.PASTres
  display: flex
  justify-content: space-between
  margin-bottom: 5%
.izq
  background-color: $rosado
  color: white
  padding: 1% 1% 1% 10%
  max-width: 45vw
  text-align: right
.der
  background-color: $azul
  color: white
  padding: 1% 10% 1% 1%
  max-width: 45vw
.tablaEquipo
  margin: 7% auto
  text-align: center
table.tablaEquipo tr td:nth-child(n+2)
  border-left: 1px solid #000000

.separacion#rosa 
  background-color: $rosado
  margin: 0 auto 10vh
.separacion 
  height: 0.5rem
  background-color: $azul
  width: 50%
  margin: 10vh auto 5vh

app-productos p 
  margin-bottom: 10vh
  text-align: justify

@media only screen and (max-width: 900px)
  .productos
    display: flex
    width: 100vw
  .productosAzul, .productosRosado, .productosAmarillo, .productosNegro
    flex: 1 1 0
    flex-wrap: wrap
    min-width: 20vw
    height: 30vw
  .productosAzul a h1, .productosRosado a h1, .productosAmarillo a h1, .productosNegro a h1
    font-size: 1.2rem !important
  .alMenu
    transform: scale(0.3) rotate(90deg)
    left: -4%
    margin-left: -5%
  #definicion-lineas
    top: 80%
  .tablaDisolventes
    width: 60vw
    font-size: 0.5rem
    margin-left: -10%
  .tablaDisolventes td
    padding: 0
    max-width: 18%
  .especificaciones
    padding-bottom: 35%
    box-sizing: content-box
  .PAS
    display: flex
    flex-direction: column
    justify-content: center
    padding: 5px
  .PASUno
    flex-direction: column
    text-align: justify
  .tituloPAS
    padding: 1%
    margin: 0
  #headPAS
    text-align: center
  .izq h3, .der h3
    font-size: 1.2rem

  app-productos table
    font-size: 0.8rem
  .tablaDisolventes
    margin-left: -40%
  .tablaEquipo
    font-size: 0.5rem
