.ubicacion
  display: flex
  background-color: #BC2C78
  padding: 5% 2%
  background-image: url("assets/img/fondo-asistencia.png")
  background-size: cover
  background-position: bottom
  height: 100vh
  color: #fff
.lateralUbicacion
  flex: 1 1 0
  max-width: 35%
  text-align: justify
  min-width: 22%
.mapa
  flex: 1 1 0
  text-align: justify
  margin: auto 2%
  display: flex
  height: 70vh
  width: 60%
  flex-direction: column
  justify-content: center
  align-content: center
agm-map
  height: 100%

@media only screen and (max-width: 900px)
  .ubicacion
    display: flex
    flex-direction: column
    height: 100vh
  .lateralUbicacion
    max-width: 100%
    height: 20vh
    background-color: #BC2C78
    padding: 2%
  .mapa
    width: 98%
    height: 60vh
