@import "navbar"
@import "inicio"
@import "asesoria"
@import "productos"
@import "ubicacion"
@import "animate"
@import "contacto"
@import "aviso"
$gris: #F9F9F9
@font-face
  font-family: 'bebas_neueregular'
  src: url('assets/fuentes/bebasneue-regular-webfont.woff2') format('woff2'), url('assets/fuentes/bebasneue-regular-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal
html
  overflow-x: hidden
  background-color: $gris
p
  font-family: "Roboto", sans-serif
  font-size: 1.1rem
h1, h2, h3, h4, h5, h6, label
  font-family: 'bebas_neueregular', sans-serif
inicio
  width: 100vw
.progreso
  height: 4px
  background: #0D627F
  background-blend-mode: exclusion
  width: 0%
  position: fixed
  z-index: 101
  top: 0
.final
  background-color: #DDD
  width: 100vw
  height: 4vw
  display: block
  text-align: center
  position: absolute
#arriba
  color: #fff
  width: 3vw
  bottom: 2px
  right: 2px

@media only screen and (max-width: 900px)
  a.nav-link
    font-size: 1.2rem !important
  .final
    height: 9vw
  #arriba
    height: 8vw
